

 <div class="row" style="margin: 0px;">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-4">
  <div class="card-dashboard shadow">
    <div style="display: block;">
      <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
      </div>
  </div>
  </div>

  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4  mb-4">
  <div class="card-profile shadow">
    <div style="display: block;">
      <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
      </div>
  </div>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-4">
  <div class="card-profile shadow">
    <div style="display: block;">
      <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
  </div>
</div>
