<div class="homeBody container-fluid px-4 px-md-4 py-4 mx-auto">
  <div class="row g-0 justify-content-center">
    <div class="card-login mb-3">
      <div class="text-center px-4 pt-2 pb-0">
        <img src="../../../assets/images/slogan-white.png" width="100% auto" alt="Font_Corp_Logo">
      </div>
      <div class="card-body pt-1">
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-4">
            <label class="fmb-0">Email</label>
            <input type="text" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" placeholder="usuario@correo.com">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Código usuario es requerido</div>
              <div *ngIf="f.email.errors.email">Formato no es válido</div>
            </div>
          </div>
          <div class="form-group mb-2">
            <label class=" mb-0">Password</label>
            <div class="input-group input-wrap-password">
              <input name="password" [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" id="password-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
              <div class="icon-view-password">
                <i alt="show" class="fas fa-lock-open lock-show" (click)="showPassword = !showPassword" *ngIf="showPassword"></i>
                <i alt="hide" class="fas fa-lock lock-hide" (click)="showPassword = !showPassword" *ngIf="!showPassword"></i>
              </div>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Clave usuario es requerida</div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/forgot']" class="text-sm mx-auto my-3 text-recover-password">Olvidé contraseña</a>
          <div class="form-group my-4">
            <div class="col-12 d-grid gap-2">
              <button type="submit" [disabled]="f.email.value == '' || f.password.value == ''" class="btn btn-block btn-home btn-sm">
                Ingresar
                <div *ngIf="loading" class="ms-3 spinner-border text-light" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
          </div>
          <div *ngIf="hideMsg" class="mx-1 row alert alert-warning error-message text-center mt-2" role="alert">
            <strong class="text-center"><i class="fas fa-times-circle mt-1 mr-3"></i> {{ ShowMsg }}</strong>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
