<div class="homeBody container-fluid px-4 px-md-4 py-4 mx-auto">
  <div class="row g-0 justify-content-center">
    <div class="card mb-3">
      <div class="text-center px-4 pt-2 pb-0">
        <img src="../../../assets/images/LogoFont.png" width="100% auto" alt="Font_Corp_Logo">
      </div>
      <div class="p-3">
        <span class="fw-bold mb-2 d-flex text-center">Restablezca su contraseña</span>
        <span class="mb-4">
          Le enviaremos un correo electrónico con más instrucciones sobre como restablecer su contraseña.
        </span>
      </div>
      <div class="card-body pt-1">
        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-4">
            <label class="fmb-0 fw-bold">Usuario</label>
            <input type="text" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" placeholder="usuario@correo.com">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Correo es requerido</div>
              <div *ngIf="f.email.errors.email">El correo debe ser valido</div>
            </div>
          </div>

          <div class="form-group my-3">
            <div class="col-12 d-grid gap-2">
              <button type="submit" [disabled]="f.email.value == '' " class="btn btn-block btn-home btn-sm">
                Solicitar contraseña
              </button>
            </div>
          </div>
          <a [routerLink]="['/login']" class="text-sm mx-auto my-2 text-recover-password">Ir a Inicio de Sesion</a>
          
          <div *ngIf="hideMsg" class="row no-gutters alert alert-warning error-message text-center mt-2" role="alert">
            <strong class="text-center"><i class="fas fa-times-circle mt-1 mr-3"></i> {{ ShowMsg }}</strong>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>